.message-delete-after-testing{
	color: red;
	padding: 30px 0 50px;
}


body{
	background-color: $background-color; 
}

.banner{
	width: 100%;
	height: 370px;
	margin-top: -130px;
	background-image:url('../imgs/banner.png');
	background-repeat: repeat-x;
}
/*.large-centered{
	border: 1px solid red;
}*/
h1, h2, h4{
	font-family: $header-sans-serif;
	color: $header-blue;
	font-weight: 700;  
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px 3px rgba(185,199,202,1);
}
h1,h2{
	text-align: center;
}

h1{
	font-size: 3.7em;
}

h2{
	font-size: 3.3em;
	margin-top: -20px;
}

h3, h6{
	font-family: Georgia, serif;
	color: $body-blue;
	line-height: 1.5em;
}

.wrapper-rsvp h3{
	font-size: 1.2em;
}

h4{
	font-size: 2em;
}

h5{
	color: $header-green;
	font-family: $header-sans-serif;
	font-weight: 600;
}

p{
	font-family: Georgia, serif;
	color: $body-blue;
}

h6{
	margin-top: -5px;
}

.wrapper-rsvp{
	clear: both;
	padding: 0;
	margin: 0;
}

.top{
	margin-top: -120px;

}

.center-header{
	text-align: center;
	font-style: italic;
}

.wrapper-schedule{
	margin-top: 30px;
}

.large-6{
	//border: 1px solid red;
	padding-left: 0;
}	

.has-custom-shadow {
  @include text-shadow(rgba(185,199,202, 0.2) 2px 2px 0, rgba(185,199,202, 0.2) 2px 2px 0, rgba(185,199,202, 0.2) 3px 3px 0);
}

.uppercase{
	text-transform: uppercase;
}

.logo{
	width: 188px;
	height: 50px;
	padding-right: 5px;
	background-image:url('../imgs/periscopic-logo.png');
	//border: 1px solid red;
	float: right;
	background-repeat: no-repeat;
}