//@media #{$small-up} { }
@media #{$small-only} { 
	.banner{
	width: 100%;
	height: 370px;
	margin-top: -180px;
	}

	h1{
		font-size: 2.2em;
	}

	h2{
		font-size: 2.2em;
		margin-top: -10px;
	}

	h1, h2, h4{  
	font-weight: 800;
	}

	.logo{
	background-image:none;
	}

	.wrapper-schedule{
	margin-top: 10px;
	}

	.schedule_left--container p, .schedule_right--container p{
	font-size: .9em;
	}

	.schedule_right--item{
		padding: 0;
		margin: 0;
	}	

	#navigation-table input{
		padding: 10px 180px;
	}
}
@media #{$medium-only} { 
	.schedule_left--container p, .schedule_right--container p{
	font-size: 1em;
	}

	.schedule_right--item{
		padding: 0;
		margin: 0;
	}	
}