//color variables//
$background-color: #f4f8f9;
$header-blue: #4393c2;
$header-green: #87a687;
$body-blue: #557485; 
$hover-green: #769476;
//type variables//
$header-sans-serif: 'Open Sans', sans-serif;  

